.add_event {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (auto, minmax(100px,0.9fr));
}
.eventtitle, .eventdescription, .eventaddress, .eventzip {
    grid-column: 1/-1;
}

.eventcategory {

}
