.event_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.9fr));
    grid-template-rows: (auto, minmax(100px,0.9fr));
    justify-content: center;
    padding-bottom: 10vh;
    max-width: 70vw;
}


.event_container > div {
    display: flex;
    flex-direction: column;

}

.event_container > div >p {
    max-width: 1fr;
}

.image {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 2em;
}

@media(max-width: 768px) {
    .event_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(150px, auto);
        padding-bottom: 5vh;
    }
