.day_events {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.9fr));
    grid-template-rows: repeat(5, minmax(100px,0.9fr));
    justify-content: center;


}

.day_event_list {
    flex: 1;
    flex-direction: column;
    padding-left: 0.5em;
    border: 1px lightgreen;
}

.day_event_list > h3 {
    text-decoration: underline;
}


.day_event_list > ul {
    display: grid;
    border: 1px lightgreen;
}

.page_header {
    display: flex;
    white-space: nowrap;

}
.button {

}
