.day_events {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.9fr));
    grid-template-rows: (auto, minmax(100px,0.9fr));
    justify-content: center;
    padding-bottom: 10vh;


}

.day_event_list {
    flex: 1;
    flex-direction: column;
    padding-left: 0.5em;
    padding-bottom: 0em;
    padding-top: 0em;
}

.day_event_list > h3 {
    text-decoration: underline;
}


.generalevents {
    background-color: lightgreen;
}

.sportevents {
    background-color: lightblue;
}

.familyevents {
    background-color: lightyellow;
}

.socialevents {
    background-color: lightcoral;
}

.culturalevents {
    background-color: lightsalmon;
}

.page_header {
    display: flex;
    white-space: nowrap;

}
.button {

}

.ul {
    padding:0;
}
