{% extends "cssgrid/base.html" %}

{% block title %} Active Bury {% endblock %}

{% block head %}
{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{%- block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
{%- endblock styles %}

{% block header %}
			<ul class="container-menu">
				<h1>Active Bury</h1>
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('calendar') }}">Calendar</a></li>
				<li><a href="{{ url_for('advanced_search') }}">Search</a></li>
				{% if current_user.is_anonymous %}
				<li class="log"><a href="{{ url_for('login')}}">Login</a></li>
				{% else %}
				<li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
				<li class="log"><a href="{{ url_for('logout')}}">Logout</a></li>
				{% endif %}
			</ul>
{% endblock %}

{% block navbar %}

{% endblock %}

{%block content %}
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if message %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{# application content needs to be provided in the app_content block #}
		{% block app_content %}{% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

{% endblock %}
