
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Nathan {% endblock %}

{% block head %}
{{ super() }}
<meta charset='utf-8' />
<meta id="my_event_data" data-event="{{ eventdata }}"/>
<link href="{{url_for('static', filename='cal/fullcalendar.css')}}" rel='stylesheet' />
<link href='../static/cal/fullcalendar.print.min.css' rel='stylesheet' media='print' />


{% endblock %}


{% block navbar %}
	<div>
		<h1> Search </h1>
		<form class="searchform" action="" method="post">
			{{ form.hidden_tag() }}
			<div>
				{{ form.zipcode.label }}:
				{{ form.zipcode(size=24) }}<br>
				{% for error in form.zipcode.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<p>
				{{ form.distance.label }}:
				{{ form.distance(size=1) }}<br>
				{% for error in form.distance.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p> {{form.submit }} </p>
	</div>
{%- endblock navbar %}



{%block app_content %}
<div class="page_header">
<nobr><h1>Calendar</h1>
	{% if current_user.is_anonymous %}
	{% else %}
	<a href="{{ url_for('add_events')}}" class="button">Add Events</a>
	{% endif %}
</nobr>
</div>

<body>
	<div id='calendar'></div>



</body>

{% endblock %}

{% block scripts %}
<script src='../static/cal/lib/moment.min.js'></script>
<script src='../static/cal/lib/jquery.min.js'></script>
<script src='../static/cal/fullcalendar.js'></script>
<script>


  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
      defaultDate: moment().format('L'),
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: {
				url: '/event_data/{{ zipcode }}/{{ distance }}',
				error: function() {
						$('#script-warning').show();
				}
			},
			loading: function(bool) {
						$('#loading').toggle(bool);
			}
    });
  });


</script>
{% endblock %}
