{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/event.css') }}">
{% endblock %}

{% block app_content %}

<h1>{{ event.title }}</h1>

<span> <b>Subscribers: {{ event.subscribers.count() }}</b> </span>
<div class="event_container">
	<div class="image">
		{% if event.image_url %}
			<img src="{{ event.image_url }}" style="width:30vh;height:30vh;">
		{% endif %}
	</div>
	<div>
			{% if event.description %}<p><b>Description:</b> {{ event.description }}</p>{% endif %}
			{% if event.start_date %}<span>Start Date: {{ event.start_date.strftime('%B %d, %Y') }}</span>{% endif %}
			{% if event.start_time %}<span>Start Time: {{ event.start_time.strftime('%I:%M:%S %p') }}</span>{% endif %}
			{% if event.end_date %}<span>End Date: {{ event.end_date.strftime('%B %d, %Y') }}</span>{% endif %}
			{% if event.end_time %}<span>End Time: {{ event.end_time.strftime('%I:%M:%S %p') }}</span>{% endif %}
			{% if event.address %}<span>Address: {{ event.address }} </span>{% endif %}
			{% if event.zipcode %}<span>Zipcode: {{ event.zipcode }} </span>{% endif %}
			{% if event.category %}<span>Category: {{ event.category }} </span>{% endif %}
			{% if current_user.is_authenticated %}
				{% if event.creater == current_user %}
				<p><a href="{{ url_for('edit_event', id=event.id) }}">Edit</a></p>
				<p><a href="{{ url_for('upload', id=event.id) }}">Upload a picture!</a></p>
				<p><a href="{{ url_for('duplicate_events', id=event.id) }}">Duplicate</a></p>
				{% elif current_user.is_subscribed(event) %}
				<p><a href="{{ url_for('unsubscribe', id=event.id) }}">Unsubscribe</a></p>
				{% else %}
				<p><a href="{{ url_for('subscribe', id=event.id) }}">Subscribe</a></p>
				{% endif %}
			{% endif %}
	</div>
</div>
	{% if form %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.post.label }}<br>
			{{ form.post(cols=32, rows=4) }}<br>
			{% for error in form.post.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	{% endif %}


	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
		<ul class="nextpost">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> Newer posts
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					Older posts <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
{% endblock %}
