
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block app_content %}
	<table>
		<tr valign="top">
			<td>
				{% if event.image_url %}
					<img src="{{ event.image_url }}" style="width:30vh;height:30vh;">
				{% endif %}
			</td>
			<td>
				<h1>Event: {{ event.title }}</h1>
				{% if event.description %}<p>Description: {{ event.description }}</p>{% endif %}
				{% if event.start_date %}<p>Start Date: {{ event.start_date.strftime('%B %d, %Y') }}</p>{% endif %}
				{% if event.start_time %}<p>Start Time: {{ event.start_time.strftime('%I:%M:%S %p') }}</p>{% endif %}
				{% if event.end_date %}<p>End Date: {{ event.end_date.strftime('%B %d, %Y') }}</p>{% endif %}
				{% if event.end_time %}<p>End Time: {{ event.end_time.strftime('%I:%M:%S %p') }}</p>{% endif %}
				{% if event.address %}<p>Address: {{ event.address }} </p>{% endif %}
				{% if event.zipcode %}<p>Zipcode: {{ event.zipcode }} </p>{% endif %}
				{% if event.category %}<p>Category: {{ event.category }} </p>{% endif %}
				{% if event.creater == current_user %}
				<p><a href="{{ url_for('edit_event', id=event.id) }}">Edit</a></p>
				<p><a href="{{ url_for('upload', id=event.id) }}">Upload a picture!</a></p>
				{% elif current_user.is_subscribed(event) %}
				<p><a href="{{ url_for('unsubscribe', id=event.id) }}">Unsubscribe</a></p>
				{% else %}
				<p><a href="{{ url_for('subscribe', id=event.id) }}">Subscribe</a></p>
				{% endif %}
				<p>{{ event.subscribers.count() }} subscribers</p>
			</td>
		</tr>
	</table><br>

	{% if form %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.post.label }}<br>
			{{ form.post(cols=32, rows=4) }}<br>
			{% for error in form.post.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	{% endif %}


	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
		<ul class="nextpost">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> Newer posts
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					Older posts <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
{% endblock %}
