
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Nathan {% endblock %}

{%block page_content %}
	<div class="page-header">
		<h1>Hello, {{current_user.username }}!</h1>
	</div>
	{% if form %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.post.label }}<br>
			{{ form.post(cols=32, rows=4) }}<br>
			{% for error in form.post.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
	{% endif %}
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
	{% if prev_url %}
	<a></a>
	<a href="{{ prev_url }}">Newer posts</a>
	{% endif %}
	{% if next_url %}
	<a></a>
	<a href="{{ next_url }}">Older posts</a>
	{% endif %}

{% endblock %}
