
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Nathan {% endblock %}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css"</>
{%- endblock styles %}

{%block app_content %}
	<div class="page-header">
		<h1>Hello, {{current_user.username }}!</h1>
	</div>

	<div class="day_events">

		{% for count in day_count %}
		<div class = "day_event_list">
			<h3> {{ moment(days[count]).format('dddd') }}</h3>
			<ul>
				{% for ev in events[count] %}
				{% if ev.title %}
				<li>
					<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
					{% if ev.start_time %}
						{{ ev.start_time.strftime('%I:%M %p') }}
					{% endif %}
				{% endif %}

				</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}

	</div>
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}

	<ul class="nextpage">
		<li class="previous{% if not prev_url %} disabled{% endif %}">
			<a href="{{ prev_url or '#' }}">
				<span aria-hidden="true">&larr;</span> Newer posts
			</a>
		</li>
		<li class="next{% if not next_url %} disabled{% endif %}">
			<a href="{{ next_url or '#' }}">
				Older posts <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
	</ul>
{% endblock %}
