
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Active Bury {% endblock %}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/index.css"</>
{%- endblock styles %}

{% block navbar %}
	<div>
		<h1> Search </h1>
		<form class="searchform" action="" method="post">
			{{ form.hidden_tag() }}
			<div>
				{{ form.zipcode.label }}:
				{{ form.zipcode(size=24) }}<br>
				{% for error in form.zipcode.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</div>
			<p>
				{{ form.distance.label }}:
				{{ form.distance(size=1) }}<br>
				{% for error in form.distance.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p> {{form.submit }} </p>
	</div>
{%- endblock navbar %}

{%block app_content %}
	<div class="page_header">
		{% if zip[0] %}
			<h1>The top events near {{ zip[0] }}, {{ zip[1] }}!</h1>
		{% else %}
			<h1>Hello stranger!</h1>
			<a href={{ url_for('register') }} class=button>Sign Up</a>
		{% endif %}


		<a href={{ url_for('add_events') }} class=button>Add Events</a>
	</div>

	<div class="day_events">
		{% for count in day_count %}
			<div class = "day_event_list">
				<div>
					<h3>{{ moment(days[count]).format('dddd') }}</h3>
					<p>{{ moment(days[count]).format('L') }}</p>
				</div>
				<div class='generalevents'>
					<ul>
						{% for ev in general_events[count] %}
							{% if ev.title %}
								<li>
								<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
								{% if ev.start_time %}
									{{ ev.start_time.strftime('%I:%M %p') }}
								{% endif %}
							{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class='sportevents'>
					<ul>
						{% for ev in sport_events[count] %}
							{% if ev.title %}
								<li>
								<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
								{% if ev.start_time %}
									{{ ev.start_time.strftime('%I:%M %p') }}
								{% endif %}
							{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class='familyevents'>
					<ul>
						{% for ev in family_events[count] %}
							{% if ev.title %}
								<li>
								<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
								{% if ev.start_time %}
									{{ ev.start_time.strftime('%I:%M %p') }}
								{% endif %}
							{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class='socialevents'>
					<ul>
						{% for ev in social_events[count] %}
							{% if ev.title %}
								<li>
								<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
								{% if ev.start_time %}
									{{ ev.start_time.strftime('%I:%M %p') }}
								{% endif %}
							{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class='culturalevents'>
					<ul>
						{% for ev in cultural_events[count] %}
							{% if ev.title %}
								<li>
								<a href="{{ url_for('event', id=ev.id) }}">{{ ev.title }}</a>
								{% if ev.start_time %}
									{{ ev.start_time.strftime('%I:%M %p') }}
								{% endif %}
							{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>

	{% for post in posts %}
		{% include '_indexpost.html' %}
	{% endfor %}

	<ul class="nextpage">
		<li class="previous{% if not prev_url %} disabled{% endif %}">
			<a href="{{ prev_url or '#' }}">
				<span aria-hidden="true">&larr;</span> Newer posts
			</a>
		</li>
		<li class="next{% if not next_url %} disabled{% endif %}">
			<a href="{{ next_url or '#' }}">
				Older posts <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
	</ul>
{% endblock %}
